/* app css stylesheet */
body{
	background:url('../img/gradient-bg.jpg') center;
	background-attachment:fixed;
}
img{
	max-width:100%;
}
.transparent{
	background:rgba(0,0,0,0.2);
	border-color:rgba(0,0,0,0.2);
}
.form-below-left{
	text-align:left;
}
.form-below-right{
	text-align:right;
}
.form-below-left a, .form-below-right a{
	color:#fff;
}
input[type="text"].transparent,input[type="email"].transparent, input[type="password"].transparent, input[type="submit"]{
	color:#fff;
}
input[type="submit"].transparent{
	background:rgba(0,0,0,0.5);
}
.transparent-box{
	padding:15px 0px;
	margin:0px 5px;
	background:rgba(255,255,255,0.2);
	border-radius:4px;
	box-shadow: 0px 0px 2px 0px #000;
}