<loading></loading>
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12" style="text-align:center">
			<img style="margin-top:-50px; width:320px;" src="img/angular-js.png"/>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
		<form class="form" ng-submit="submit()">
			<div class="form-group">
				<input type="text" class="form-control transparent" name="username" ng-model="username" placeholder="Username"/>
			</div>
			<div class="form-group">
				<input type="submit" class="form-control transparent" name="submit" value="Recover"/>
			</div>
		</form>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 form-below-left">
			<a href="" ng-click="showPage('/registration')">New User?</a>
		</div>
		<div class="col-xs-6 form-below-right">
			<a href="" ng-click="showPage('/login')">Login</a>
		</div>
	</div>
</div>