<loading></loading>
<div id="sp-nav">
	<div class="list-group" ui-turn-off='uiSidebarLeft'>
        <a class="list-group-item" href="" ng-click="open()">Add Number
			<i class="fa fa-plus pull-right"></i>
		</a>
        <a class="list-group-item" href="#/link2">All Numbers
			<i class="fa fa-list pull-right"></i>
		</a>
		<a class="list-group-item" href="#/link2">Locations
			<i class="fa fa-map-marker pull-right"></i>
		</a>
		<a class="list-group-item" href="#/link2">Help
			<i class="fa fa-question pull-right"></i>
		</a>
		<a class="list-group-item" href="#/link2">Settings
			<i class="fa fa-cog pull-right"></i>
		</a>
	</div>
</div>
<div class="container-fluid" style="background:url('img/gradient-bg.jpg') center; background-attachment:fixed;" id="sp-page">
	<div class="row">
		<div class="row" style="margin:0px; padding:5px">
			<span class="pull-left">
				<button type="button" class="btn btn-default btn-lg" ng-click="$spMenu.toggle()">
					<span class="glyphicon glyphicon-align-justify"></span>
				</button>
			</span>
		</div>
		<div class="col-xs-12" style="text-align:center">
			
		</div>
	</div>
</div>
<script type="text/ng-template" id="add_number.html">
	<div class="modal-header" style="padding:0px">
		&nbsp;
	</div>
	<div class="modal-body">
		<form class="form" ng-submit="submit()">
			<div class="form-group">
				<input type="number" class="form-control transparent" name="number" ng-model="number" placeholder="Enter Number"/>
			</div>
			<div class="form-group">
				<input type="submit" class="form-control transparent" name="submit" value="Add Number"/>
			</div>
		</form>
	</div>
	<div class="modal-footer" style="padding-top:0px">
		<!--<button class="btn btn-primary" ng-click="ok()">OK</button>-->
		<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div>
</script>