<loading></loading>
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12" style="text-align:center">
			<img style="margin-top:-50px; width:320px;" src="img/angular-js.png"/>
		</div>
	</div>
	<div class="row">
		<div class="row transparent-box">
			<div class="col-xs-12">
				<div ng-if="userDetails.error == 'true'" class="alert alert-danger">
					{{userDetails.message}}
				</div>
				<div ng-if="userDetails.success == 'true'" class="alert alert-success">
					{{userDetails.message}}
				</div>
				<form class="form" ng-submit="submit()">
					<div class="form-group">
						<label>Please check your E-mail to get verification code.</label>
					</div>
					<div class="form-group">
						<input type="text" class="form-control transparent" name="tocken" ng-model="tocken" placeholder="Enter Your verification code here..."/>
					</div>
					<div class="form-group">
						<input type="submit" class="form-control transparent" name="submit" value="Verify"/>
					</div>
				</form>
			</div>
			<div class="col-xs-6 form-below-left">
				<a href="#/login">Go to Login</a>
			</div>
			<div class="col-xs-6 form-below-right">
			
			</div>
		</div>	
	</div>
</div>